<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Wave 0.0.1</title>
  
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>
  <h2>
    Upload your Time Report:
  </h2>

  <hr/>

  {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  {{/if}}
  
  <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/upload">
    <input name="report" type="file" />
    <br/><br/>
    <input class="btn" type="submit" value="submit"/>
  </form>
</body>

</html>